.heading {
  font-family: Montserrat;
}

.profile-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* padding: 0 32px; */
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.heading-sm {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 4px;
}

.list-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;
}

.list-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
