.vertical-center {
  display: flex;
  align-items: center;
}

.h-c {
  justify-content: center;
}

.pd-h {
  padding: 0 16px;
}

.aside-active {
  background-color: #feebf1;
  border-left: 4px solid #d44a78;
}

/* backgrounds colors */
.pink-bc {
  background-color: #fabbd0;
}

.blue-bc {
  background-color: #60b5e5;
}

.celeste-bc {
  background-color: #9de0f9;
}

.gray-bc {
  background-color: #bdbdbd;
}

.purple-bc {
  background-color: #c499ec;
}

.red-bc {
  background-color: #f77474;
}

.gren-bc {
  background-color: #42d781;
}

.orange-bc {
  background-color: #ffa759;
}

.limon-bc {
  background-color: #90dbaf;
}
/*  */

.svg {
  width: 18px;
  height: 16px;
}

.main-padding {
  padding: 3rem 2rem;
}

.bc-pink {
  background-color: #f490b1;
}

.bc-gray {
  background-color: #757575;
}

.max-width {
  max-width: 480px;
}

.horazontal-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

#logout-img:hover {
  cursor: pointer;
}
