.vertical-center {
  display: flex;
  align-items: center;
}

.h-c {
  justify-content: center;
}

.pd-h {
  padding: 0 16px;
}

.aside-active {
  background-color: #feebf1;
  border-left: 4px solid #d44a78;
}

/* backgrounds colors */
.pink {
  background-color: #fabbd0;
}

.blue {
  background-color: #60b5e5;
}

.sky {
  background-color: #9de0f9;
}

.grey {
  background-color: #bdbdbd;
}

.purple {
  background-color: #c499ec;
}

.red {
  background-color: #f77474;
}

.green {
  background-color: #42d781;
}

.orange {
  background-color: #ffa759;
}

.lime {
  background-color: #90dbaf;
}
/*  */

.creation-container {
  width: 100%;
  gap: 16px;
  display: flex;
}

.palette {
  width: 190px;
  height: 104px;
  display: grid;
  grid-template-columns: repeat(3, 33px);
  gap: 8px 8px;
}

.color-p {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.color-p:hover {
  cursor: pointer;
}

.svg {
  width: 18px;
  height: 16px;
}

.main-padding {
  padding: 3rem 2rem;
}

.bc-pink {
  background-color: #f490b1;
}

.bc-gray {
  background-color: #757575;
}

.max-width {
  max-width: 480px;
}

.horazontal-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

#logout-img:hover {
  cursor: pointer;
}

.board-creater {
  width: 190px;
  height: 96px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border: 3px solid #7a7a7a;
}

.board-creater:hover {
  cursor: pointer;
}

.special-input {
  height: 28px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.special-input:focus {
  outline: none;
}

.special-button {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  width: 73px;
  height: 28px;
}

.ds-none {
  display: none;
}
